:root {
    /* === COLORES PRINCIPALES === */
    --primary: #4c96f6;
    --secondary: #86b5f4;
    --tertiary: #274060;
    /* === FONDOS === */
    --bg-main: #f5f5f5;
    --bg-surface: #ffffff;
    --bg-drawer: #274060;
    --bg-appbar: #274060;
    /* === TEXTOS === */
    --text-primary: #1e1e1e;
    --text-secondary: #566887;
    --text-light: #b2c2d1;
    --text-white: #ffffff;
    /* === TAMAÑOS DE TEXTO === */
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 2rem; /* 32px */
    --text-4xl: 2.5rem; /* 40px */

}

/*ESTILOS DEL LAYOUT*/
.BodyLayOut {
    min-height: 100vh;
}
