 .login-container {
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     padding: 20px;
     overflow: hidden;
     background-image: url('../images/Inventario.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }

 /* Overlay con tu gradiente */
 .login-container::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(135deg,
             rgba(0, 216, 173, 0.85) 0%,
             rgba(0, 89, 248, 0.85) 100%);
     backdrop-filter: blur(5px);
     z-index: 1;
     opacity: 95%;
 }

 .login-content {
     position: relative;
     z-index: 10;
     width: 100%;
     max-width: 500px;
 }